openapi: 3.0.0
info:
  title: OpenAI API
  description: The OpenAI REST API. Please see https://platform.openai.com/docs/api-reference
    for more details.
  version: 2.3.0
  termsOfService: https://openai.com/policies/terms-of-use
  contact:
    name: OpenAI Support
    url: https://help.openai.com/
  license:
    name: MIT
    url: https://github.com/openai/openai-openapi/blob/master/LICENSE
servers:
- url: https://api.openai.com/v1
tags:
- name: Assistants
  description: Build Assistants that can call models and use tools.
- name: Audio
  description: Turn audio into text or text into audio.
- name: Chat
  description: Given a list of messages comprising a conversation, the model will
    return a response.
- name: Completions
  description: Given a prompt, the model will return one or more predicted completions,
    and can also return the probabilities of alternative tokens at each position.
- name: Embeddings
  description: Get a vector representation of a given input that can be easily consumed
    by machine learning models and algorithms.
- name: Fine-tuning
  description: Manage fine-tuning jobs to tailor a model to your specific training
    data.
- name: Batch
  description: Create large batches of API requests to run asynchronously.
- name: Files
  description: Files are used to upload documents that can be used with features like
    Assistants and Fine-tuning.
- name: Uploads
  description: Use Uploads to upload large files in multiple parts.
- name: Images
  description: Given a prompt and/or an input image, the model will generate a new
    image.
- name: Models
  description: List and describe the various models available in the API.
- name: Moderations
  description: Given text and/or image inputs, classifies if those inputs are potentially
    harmful.
- name: Audit Logs
  description: List user actions and configuration changes within this organization.
paths:
  /models:
    get:
      operationId: listModels
      tags:
      - Models
      summary: Lists the currently available models, and provides basic information
        about each one such as the owner and availability.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListModelsResponse'
      x-oaiMeta:
        name: List models
        group: models
        returns: A list of [model](/docs/api-reference/models/object) objects.
        examples:
          request:
            curl: "curl https://api.openai.com/v1/models \\\n  -H \"Authorization:\
              \ Bearer $OPENAI_API_KEY\"\n"
            python: 'from openai import OpenAI

              client = OpenAI()


              client.models.list()

              '
            node.js: "import OpenAI from \"openai\";\n\nconst openai = new OpenAI();\n\
              \nasync function main() {\n  const list = await openai.models.list();\n\
              \n  for await (const model of list) {\n    console.log(model);\n  }\n\
              }\nmain();"
            csharp: "using System;\n\nusing OpenAI.Models;\n\nOpenAIModelClient client\
              \ = new(\n    apiKey: Environment.GetEnvironmentVariable(\"OPENAI_API_KEY\"\
              )\n);\n\nforeach (var model in client.GetModels().Value)\n{\n    Console.WriteLine(model.Id);\n\
              }\n"
          response: "{\n  \"object\": \"list\",\n  \"data\": [\n    {\n      \"id\"\
            : \"model-id-0\",\n      \"object\": \"model\",\n      \"created\": 1686935002,\n\
            \      \"owned_by\": \"organization-owner\"\n    },\n    {\n      \"id\"\
            : \"model-id-1\",\n      \"object\": \"model\",\n      \"created\": 1686935002,\n\
            \      \"owned_by\": \"organization-owner\",\n    },\n    {\n      \"\
            id\": \"model-id-2\",\n      \"object\": \"model\",\n      \"created\"\
            : 1686935002,\n      \"owned_by\": \"openai\"\n    },\n  ],\n  \"object\"\
            : \"list\"\n}\n"
  /chat/completions:
    post:
      operationId: createChatCompletion
      tags:
      - Chat
      summary: "**Starting a new project?** We recommend trying [Responses](/docs/api-reference/responses)\
        \ \nto take advantage of the latest OpenAI platform features. Compare\n[Chat\
        \ Completions with Responses](/docs/guides/responses-vs-chat-completions?api-mode=responses).\n\
        \n---\n\nCreates a model response for the given chat conversation. Learn more\
        \ in the\n[text generation](/docs/guides/text-generation), [vision](/docs/guides/vision),\n\
        and [audio](/docs/guides/audio) guides.\n\nParameter support can differ depending\
        \ on the model used to generate the\nresponse, particularly for newer reasoning\
        \ models. Parameters that are only\nsupported for reasoning models are noted\
        \ below. For the current state of \nunsupported parameters in reasoning models,\
        \ \n[refer to the reasoning guide](/docs/guides/reasoning).\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateChatCompletionRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateChatCompletionResponse'
            text/event-stream:
              schema:
                $ref: '#/components/schemas/CreateChatCompletionStreamResponse'
      x-oaiMeta:
        name: Create chat completion
        group: chat
        returns: 'Returns a [chat completion](/docs/api-reference/chat/object) object,
          or a streamed sequence of [chat completion chunk](/docs/api-reference/chat/streaming)
          objects if the request is streamed.

          '
        path: create
        examples:
        - title: Default
          request:
            curl: "curl https://api.openai.com/v1/chat/completions \\\n  -H \"Content-Type:\
              \ application/json\" \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\"\
              \ \\\n  -d '{\n    \"model\": \"VAR_chat_model_id\",\n    \"messages\"\
              : [\n      {\n        \"role\": \"developer\",\n        \"content\"\
              : \"You are a helpful assistant.\"\n      },\n      {\n        \"role\"\
              : \"user\",\n        \"content\": \"Hello!\"\n      }\n    ]\n  }'\n"
            python: "from openai import OpenAI\nclient = OpenAI()\n\ncompletion =\
              \ client.chat.completions.create(\n  model=\"VAR_chat_model_id\",\n\
              \  messages=[\n    {\"role\": \"developer\", \"content\": \"You are\
              \ a helpful assistant.\"},\n    {\"role\": \"user\", \"content\": \"\
              Hello!\"}\n  ]\n)\n\nprint(completion.choices[0].message)\n"
            node.js: "import OpenAI from \"openai\";\n\nconst openai = new OpenAI();\n\
              \nasync function main() {\n  const completion = await openai.chat.completions.create({\n\
              \    messages: [{ role: \"developer\", content: \"You are a helpful\
              \ assistant.\" }],\n    model: \"VAR_chat_model_id\",\n    store: true,\n\
              \  });\n\n  console.log(completion.choices[0]);\n}\n\nmain();\n"
            csharp: "using System;\nusing System.Collections.Generic;\n\nusing OpenAI.Chat;\n\
              \nChatClient client = new(\n    model: \"gpt-4o\",\n    apiKey: Environment.GetEnvironmentVariable(\"\
              OPENAI_API_KEY\")\n);\n\nList<ChatMessage> messages =\n[\n    new SystemChatMessage(\"\
              You are a helpful assistant.\"),\n    new UserChatMessage(\"Hello!\"\
              )\n];\n\nChatCompletion completion = client.CompleteChat(messages);\n\
              \nConsole.WriteLine(completion.Content[0].Text);\n"
          response: "{\n  \"id\": \"chatcmpl-B9MBs8CjcvOU2jLn4n570S5qMJKcT\",\n  \"\
            object\": \"chat.completion\",\n  \"created\": 1741569952,\n  \"model\"\
            : \"gpt-4o-2024-08-06\",\n  \"choices\": [\n    {\n      \"index\": 0,\n\
            \      \"message\": {\n        \"role\": \"assistant\",\n        \"content\"\
            : \"Hello! How can I assist you today?\",\n        \"refusal\": null,\n\
            \        \"annotations\": []\n      },\n      \"logprobs\": null,\n  \
            \    \"finish_reason\": \"stop\"\n    }\n  ],\n  \"usage\": {\n    \"\
            prompt_tokens\": 19,\n    \"completion_tokens\": 10,\n    \"total_tokens\"\
            : 29,\n    \"prompt_tokens_details\": {\n      \"cached_tokens\": 0,\n\
            \      \"audio_tokens\": 0\n    },\n    \"completion_tokens_details\"\
            : {\n      \"reasoning_tokens\": 0,\n      \"audio_tokens\": 0,\n    \
            \  \"accepted_prediction_tokens\": 0,\n      \"rejected_prediction_tokens\"\
            : 0\n    }\n  },\n  \"service_tier\": \"default\"\n}\n"
        - title: Image input
          request:
            curl: "curl https://api.openai.com/v1/chat/completions \\\n  -H \"Content-Type:\
              \ application/json\" \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\"\
              \ \\\n  -d '{\n    \"model\": \"gpt-4o\",\n    \"messages\": [\n   \
              \   {\n        \"role\": \"user\",\n        \"content\": [\n       \
              \   {\n            \"type\": \"text\",\n            \"text\": \"What\
              \ is in this image?\"\n          },\n          {\n            \"type\"\
              : \"image_url\",\n            \"image_url\": {\n              \"url\"\
              : \"https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Gfp-wisconsin-madison-the-nature-boardwalk.jpg/2560px-Gfp-wisconsin-madison-the-nature-boardwalk.jpg\"\
              \n            }\n          }\n        ]\n      }\n    ],\n    \"max_tokens\"\
              : 300\n  }'\n"
            python: "from openai import OpenAI\n\nclient = OpenAI()\n\nresponse =\
              \ client.chat.completions.create(\n    model=\"gpt-4o\",\n    messages=[\n\
              \        {\n            \"role\": \"user\",\n            \"content\"\
              : [\n                {\"type\": \"text\", \"text\": \"What's in this\
              \ image?\"},\n                {\n                    \"type\": \"image_url\"\
              ,\n                    \"image_url\": {\n                        \"\
              url\": \"https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Gfp-wisconsin-madison-the-nature-boardwalk.jpg/2560px-Gfp-wisconsin-madison-the-nature-boardwalk.jpg\"\
              ,\n                    }\n                },\n            ],\n     \
              \   }\n    ],\n    max_tokens=300,\n)\n\nprint(response.choices[0])\n"
            node.js: "import OpenAI from \"openai\";\n\nconst openai = new OpenAI();\n\
              \nasync function main() {\n  const response = await openai.chat.completions.create({\n\
              \    model: \"gpt-4o\",\n    messages: [\n      {\n        role: \"\
              user\",\n        content: [\n          { type: \"text\", text: \"What's\
              \ in this image?\" },\n          {\n            type: \"image_url\"\
              ,\n            image_url: {\n              \"url\": \"https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Gfp-wisconsin-madison-the-nature-boardwalk.jpg/2560px-Gfp-wisconsin-madison-the-nature-boardwalk.jpg\"\
              ,\n            },\n          }\n        ],\n      },\n    ],\n  });\n\
              \  console.log(response.choices[0]);\n}\nmain();\n"
            csharp: "using System;\nusing System.Collections.Generic;\n\nusing OpenAI.Chat;\n\
              \nChatClient client = new(\n    model: \"gpt-4o\",\n    apiKey: Environment.GetEnvironmentVariable(\"\
              OPENAI_API_KEY\")\n);\n\nList<ChatMessage> messages =\n[\n    new UserChatMessage(\n\
              \    [\n        ChatMessageContentPart.CreateTextPart(\"What's in this\
              \ image?\"),\n        ChatMessageContentPart.CreateImagePart(new Uri(\"\
              https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Gfp-wisconsin-madison-the-nature-boardwalk.jpg/2560px-Gfp-wisconsin-madison-the-nature-boardwalk.jpg\"\
              ))\n    ])\n];\n\nChatCompletion completion = client.CompleteChat(messages);\n\
              \nConsole.WriteLine(completion.Content[0].Text);\n"
          response: "{\n  \"id\": \"chatcmpl-B9MHDbslfkBeAs8l4bebGdFOJ6PeG\",\n  \"\
            object\": \"chat.completion\",\n  \"created\": 1741570283,\n  \"model\"\
            : \"gpt-4o-2024-08-06\",\n  \"choices\": [\n    {\n      \"index\": 0,\n\
            \      \"message\": {\n        \"role\": \"assistant\",\n        \"content\"\
            : \"The image shows a wooden boardwalk path running through a lush green\
            \ field or meadow. The sky is bright blue with some scattered clouds,\
            \ giving the scene a serene and peaceful atmosphere. Trees and shrubs\
            \ are visible in the background.\",\n        \"refusal\": null,\n    \
            \    \"annotations\": []\n      },\n      \"logprobs\": null,\n      \"\
            finish_reason\": \"stop\"\n    }\n  ],\n  \"usage\": {\n    \"prompt_tokens\"\
            : 1117,\n    \"completion_tokens\": 46,\n    \"total_tokens\": 1163,\n\
            \    \"prompt_tokens_details\": {\n      \"cached_tokens\": 0,\n     \
            \ \"audio_tokens\": 0\n    },\n    \"completion_tokens_details\": {\n\
            \      \"reasoning_tokens\": 0,\n      \"audio_tokens\": 0,\n      \"\
            accepted_prediction_tokens\": 0,\n      \"rejected_prediction_tokens\"\
            : 0\n    }\n  },\n  \"service_tier\": \"default\"\n}\n"
        - title: Streaming
          request:
            curl: "curl https://api.openai.com/v1/chat/completions \\\n  -H \"Content-Type:\
              \ application/json\" \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\"\
              \ \\\n  -d '{\n    \"model\": \"VAR_chat_model_id\",\n    \"messages\"\
              : [\n      {\n        \"role\": \"developer\",\n        \"content\"\
              : \"You are a helpful assistant.\"\n      },\n      {\n        \"role\"\
              : \"user\",\n        \"content\": \"Hello!\"\n      }\n    ],\n    \"\
              stream\": true\n  }'\n"
            python: "from openai import OpenAI\nclient = OpenAI()\n\ncompletion =\
              \ client.chat.completions.create(\n  model=\"VAR_chat_model_id\",\n\
              \  messages=[\n    {\"role\": \"developer\", \"content\": \"You are\
              \ a helpful assistant.\"},\n    {\"role\": \"user\", \"content\": \"\
              Hello!\"}\n  ],\n  stream=True\n)\n\nfor chunk in completion:\n  print(chunk.choices[0].delta)\n"
            node.js: "import OpenAI from \"openai\";\n\nconst openai = new OpenAI();\n\
              \nasync function main() {\n  const completion = await openai.chat.completions.create({\n\
              \    model: \"VAR_chat_model_id\",\n    messages: [\n      {\"role\"\
              : \"developer\", \"content\": \"You are a helpful assistant.\"},\n \
              \     {\"role\": \"user\", \"content\": \"Hello!\"}\n    ],\n    stream:\
              \ true,\n  });\n\n  for await (const chunk of completion) {\n    console.log(chunk.choices[0].delta.content);\n\
              \  }\n}\n\nmain();\n"
            csharp: "using System;\nusing System.ClientModel;\nusing System.Collections.Generic;\n\
              using System.Threading.Tasks;\n\nusing OpenAI.Chat;\n\nChatClient client\
              \ = new(\n    model: \"gpt-4o\",\n    apiKey: Environment.GetEnvironmentVariable(\"\
              OPENAI_API_KEY\")\n);\n\nList<ChatMessage> messages =\n[\n    new SystemChatMessage(\"\
              You are a helpful assistant.\"),\n    new UserChatMessage(\"Hello!\"\
              )\n];\n\nAsyncCollectionResult<StreamingChatCompletionUpdate> completionUpdates\
              \ = client.CompleteChatStreamingAsync(messages);\n\nawait foreach (StreamingChatCompletionUpdate\
              \ completionUpdate in completionUpdates)\n{\n    if (completionUpdate.ContentUpdate.Count\
              \ > 0)\n    {\n        Console.Write(completionUpdate.ContentUpdate[0].Text);\n\
              \    }\n}\n"
          response: '{"id":"chatcmpl-123","object":"chat.completion.chunk","created":1694268190,"model":"gpt-4o-mini",
            "system_fingerprint": "fp_44709d6fcb", "choices":[{"index":0,"delta":{"role":"assistant","content":""},"logprobs":null,"finish_reason":null}]}


            {"id":"chatcmpl-123","object":"chat.completion.chunk","created":1694268190,"model":"gpt-4o-mini",
            "system_fingerprint": "fp_44709d6fcb", "choices":[{"index":0,"delta":{"content":"Hello"},"logprobs":null,"finish_reason":null}]}


            ....


            {"id":"chatcmpl-123","object":"chat.completion.chunk","created":1694268190,"model":"gpt-4o-mini",
            "system_fingerprint": "fp_44709d6fcb", "choices":[{"index":0,"delta":{},"logprobs":null,"finish_reason":"stop"}]}

            '
        - title: Functions
          request:
            curl: "curl https://api.openai.com/v1/chat/completions \\\n-H \"Content-Type:\
              \ application/json\" \\\n-H \"Authorization: Bearer $OPENAI_API_KEY\"\
              \ \\\n-d '{\n  \"model\": \"gpt-4o\",\n  \"messages\": [\n    {\n  \
              \    \"role\": \"user\",\n      \"content\": \"What is the weather like\
              \ in Boston today?\"\n    }\n  ],\n  \"tools\": [\n    {\n      \"type\"\
              : \"function\",\n      \"function\": {\n        \"name\": \"get_current_weather\"\
              ,\n        \"description\": \"Get the current weather in a given location\"\
              ,\n        \"parameters\": {\n          \"type\": \"object\",\n    \
              \      \"properties\": {\n            \"location\": {\n            \
              \  \"type\": \"string\",\n              \"description\": \"The city\
              \ and state, e.g. San Francisco, CA\"\n            },\n            \"\
              unit\": {\n              \"type\": \"string\",\n              \"enum\"\
              : [\"celsius\", \"fahrenheit\"]\n            }\n          },\n     \
              \     \"required\": [\"location\"]\n        }\n      }\n    }\n  ],\n\
              \  \"tool_choice\": \"auto\"\n}'\n"
            python: "from openai import OpenAI\nclient = OpenAI()\n\ntools = [\n \
              \ {\n    \"type\": \"function\",\n    \"function\": {\n      \"name\"\
              : \"get_current_weather\",\n      \"description\": \"Get the current\
              \ weather in a given location\",\n      \"parameters\": {\n        \"\
              type\": \"object\",\n        \"properties\": {\n          \"location\"\
              : {\n            \"type\": \"string\",\n            \"description\"\
              : \"The city and state, e.g. San Francisco, CA\",\n          },\n  \
              \        \"unit\": {\"type\": \"string\", \"enum\": [\"celsius\", \"\
              fahrenheit\"]},\n        },\n        \"required\": [\"location\"],\n\
              \      },\n    }\n  }\n]\nmessages = [{\"role\": \"user\", \"content\"\
              : \"What's the weather like in Boston today?\"}]\ncompletion = client.chat.completions.create(\n\
              \  model=\"VAR_chat_model_id\",\n  messages=messages,\n  tools=tools,\n\
              \  tool_choice=\"auto\"\n)\n\nprint(completion)\n"
            node.js: "import OpenAI from \"openai\";\n\nconst openai = new OpenAI();\n\
              \nasync function main() {\n  const messages = [{\"role\": \"user\",\
              \ \"content\": \"What's the weather like in Boston today?\"}];\n  const\
              \ tools = [\n      {\n        \"type\": \"function\",\n        \"function\"\
              : {\n          \"name\": \"get_current_weather\",\n          \"description\"\
              : \"Get the current weather in a given location\",\n          \"parameters\"\
              : {\n            \"type\": \"object\",\n            \"properties\":\
              \ {\n              \"location\": {\n                \"type\": \"string\"\
              ,\n                \"description\": \"The city and state, e.g. San Francisco,\
              \ CA\",\n              },\n              \"unit\": {\"type\": \"string\"\
              , \"enum\": [\"celsius\", \"fahrenheit\"]},\n            },\n      \
              \      \"required\": [\"location\"],\n          },\n        }\n    \
              \  }\n  ];\n\n  const response = await openai.chat.completions.create({\n\
              \    model: \"gpt-4o\",\n    messages: messages,\n    tools: tools,\n\
              \    tool_choice: \"auto\",\n  });\n\n  console.log(response);\n}\n\n\
              main();\n"
            csharp: "using System;\nusing System.Collections.Generic;\n\nusing OpenAI.Chat;\n\
              \nChatClient client = new(\n    model: \"gpt-4o\",\n    apiKey: Environment.GetEnvironmentVariable(\"\
              OPENAI_API_KEY\")\n);\n\nChatTool getCurrentWeatherTool = ChatTool.CreateFunctionTool(\n\
              \    functionName: \"get_current_weather\",\n    functionDescription:\
              \ \"Get the current weather in a given location\",\n    functionParameters:\
              \ BinaryData.FromString(\"\"\"\n        {\n            \"type\": \"\
              object\",\n            \"properties\": {\n                \"location\"\
              : {\n                    \"type\": \"string\",\n                   \
              \ \"description\": \"The city and state, e.g. San Francisco, CA\"\n\
              \                },\n                \"unit\": {\n                 \
              \   \"type\": \"string\",\n                    \"enum\": [ \"celsius\"\
              , \"fahrenheit\" ]\n                }\n            },\n            \"\
              required\": [ \"location\" ]\n        }\n    \"\"\")\n);\n\nList<ChatMessage>\
              \ messages =\n[\n    new UserChatMessage(\"What's the weather like in\
              \ Boston today?\"),\n];\n\nChatCompletionOptions options = new()\n{\n\
              \    Tools =\n    {\n        getCurrentWeatherTool\n    },\n    ToolChoice\
              \ = ChatToolChoice.CreateAutoChoice(),\n};\n\nChatCompletion completion\
              \ = client.CompleteChat(messages, options);\n"
          response: "{\n  \"id\": \"chatcmpl-abc123\",\n  \"object\": \"chat.completion\"\
            ,\n  \"created\": 1699896916,\n  \"model\": \"gpt-4o-mini\",\n  \"choices\"\
            : [\n    {\n      \"index\": 0,\n      \"message\": {\n        \"role\"\
            : \"assistant\",\n        \"content\": null,\n        \"tool_calls\":\
            \ [\n          {\n            \"id\": \"call_abc123\",\n            \"\
            type\": \"function\",\n            \"function\": {\n              \"name\"\
            : \"get_current_weather\",\n              \"arguments\": \"{\\n\\\"location\\\
            \": \\\"Boston, MA\\\"\\n}\"\n            }\n          }\n        ]\n\
            \      },\n      \"logprobs\": null,\n      \"finish_reason\": \"tool_calls\"\
            \n    }\n  ],\n  \"usage\": {\n    \"prompt_tokens\": 82,\n    \"completion_tokens\"\
            : 17,\n    \"total_tokens\": 99,\n    \"completion_tokens_details\": {\n\
            \      \"reasoning_tokens\": 0,\n      \"accepted_prediction_tokens\"\
            : 0,\n      \"rejected_prediction_tokens\": 0\n    }\n  }\n}\n"
        - title: Logprobs
          request:
            curl: "curl https://api.openai.com/v1/chat/completions \\\n  -H \"Content-Type:\
              \ application/json\" \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\"\
              \ \\\n  -d '{\n    \"model\": \"VAR_chat_model_id\",\n    \"messages\"\
              : [\n      {\n        \"role\": \"user\",\n        \"content\": \"Hello!\"\
              \n      }\n    ],\n    \"logprobs\": true,\n    \"top_logprobs\": 2\n\
              \  }'\n"
            python: "from openai import OpenAI\nclient = OpenAI()\n\ncompletion =\
              \ client.chat.completions.create(\n  model=\"VAR_chat_model_id\",\n\
              \  messages=[\n    {\"role\": \"user\", \"content\": \"Hello!\"}\n \
              \ ],\n  logprobs=True,\n  top_logprobs=2\n)\n\nprint(completion.choices[0].message)\n\
              print(completion.choices[0].logprobs)\n"
            node.js: "import OpenAI from \"openai\";\n\nconst openai = new OpenAI();\n\
              \nasync function main() {\n  const completion = await openai.chat.completions.create({\n\
              \    messages: [{ role: \"user\", content: \"Hello!\" }],\n    model:\
              \ \"VAR_chat_model_id\",\n    logprobs: true,\n    top_logprobs: 2,\n\
              \  });\n\n  console.log(completion.choices[0]);\n}\n\nmain();\n"
            csharp: "using System;\nusing System.Collections.Generic;\n\nusing OpenAI.Chat;\n\
              \nChatClient client = new(\n    model: \"gpt-4o\",\n    apiKey: Environment.GetEnvironmentVariable(\"\
              OPENAI_API_KEY\")\n);\n\nList<ChatMessage> messages =\n[\n    new UserChatMessage(\"\
              Hello!\")\n];\n\nChatCompletionOptions options = new()\n{\n    IncludeLogProbabilities\
              \ = true,\n    TopLogProbabilityCount = 2\n};\n\nChatCompletion completion\
              \ = client.CompleteChat(messages, options);\n\nConsole.WriteLine(completion.Content[0].Text);\n"
          response: "{\n  \"id\": \"chatcmpl-123\",\n  \"object\": \"chat.completion\"\
            ,\n  \"created\": 1702685778,\n  \"model\": \"gpt-4o-mini\",\n  \"choices\"\
            : [\n    {\n      \"index\": 0,\n      \"message\": {\n        \"role\"\
            : \"assistant\",\n        \"content\": \"Hello! How can I assist you today?\"\
            \n      },\n      \"logprobs\": {\n        \"content\": [\n          {\n\
            \            \"token\": \"Hello\",\n            \"logprob\": -0.31725305,\n\
            \            \"bytes\": [72, 101, 108, 108, 111],\n            \"top_logprobs\"\
            : [\n              {\n                \"token\": \"Hello\",\n        \
            \        \"logprob\": -0.31725305,\n                \"bytes\": [72, 101,\
            \ 108, 108, 111]\n              },\n              {\n                \"\
            token\": \"Hi\",\n                \"logprob\": -1.3190403,\n         \
            \       \"bytes\": [72, 105]\n              }\n            ]\n       \
            \   },\n          {\n            \"token\": \"!\",\n            \"logprob\"\
            : -0.02380986,\n            \"bytes\": [\n              33\n         \
            \   ],\n            \"top_logprobs\": [\n              {\n           \
            \     \"token\": \"!\",\n                \"logprob\": -0.02380986,\n \
            \               \"bytes\": [33]\n              },\n              {\n \
            \               \"token\": \" there\",\n                \"logprob\": -3.787621,\n\
            \                \"bytes\": [32, 116, 104, 101, 114, 101]\n          \
            \    }\n            ]\n          },\n          {\n            \"token\"\
            : \" How\",\n            \"logprob\": -0.000054669687,\n            \"\
            bytes\": [32, 72, 111, 119],\n            \"top_logprobs\": [\n      \
            \        {\n                \"token\": \" How\",\n                \"logprob\"\
            : -0.000054669687,\n                \"bytes\": [32, 72, 111, 119]\n  \
            \            },\n              {\n                \"token\": \"<|end|>\"\
            ,\n                \"logprob\": -10.953937,\n                \"bytes\"\
            : null\n              }\n            ]\n          },\n          {\n  \
            \          \"token\": \" can\",\n            \"logprob\": -0.015801601,\n\
            \            \"bytes\": [32, 99, 97, 110],\n            \"top_logprobs\"\
            : [\n              {\n                \"token\": \" can\",\n         \
            \       \"logprob\": -0.015801601,\n                \"bytes\": [32, 99,\
            \ 97, 110]\n              },\n              {\n                \"token\"\
            : \" may\",\n                \"logprob\": -4.161023,\n               \
            \ \"bytes\": [32, 109, 97, 121]\n              }\n            ]\n    \
            \      },\n          {\n            \"token\": \" I\",\n            \"\
            logprob\": -3.7697225e-6,\n            \"bytes\": [\n              32,\n\
            \              73\n            ],\n            \"top_logprobs\": [\n \
            \             {\n                \"token\": \" I\",\n                \"\
            logprob\": -3.7697225e-6,\n                \"bytes\": [32, 73]\n     \
            \         },\n              {\n                \"token\": \" assist\"\
            ,\n                \"logprob\": -13.596657,\n                \"bytes\"\
            : [32, 97, 115, 115, 105, 115, 116]\n              }\n            ]\n\
            \          },\n          {\n            \"token\": \" assist\",\n    \
            \        \"logprob\": -0.04571125,\n            \"bytes\": [32, 97, 115,\
            \ 115, 105, 115, 116],\n            \"top_logprobs\": [\n            \
            \  {\n                \"token\": \" assist\",\n                \"logprob\"\
            : -0.04571125,\n                \"bytes\": [32, 97, 115, 115, 105, 115,\
            \ 116]\n              },\n              {\n                \"token\":\
            \ \" help\",\n                \"logprob\": -3.1089056,\n             \
            \   \"bytes\": [32, 104, 101, 108, 112]\n              }\n           \
            \ ]\n          },\n          {\n            \"token\": \" you\",\n   \
            \         \"logprob\": -5.4385737e-6,\n            \"bytes\": [32, 121,\
            \ 111, 117],\n            \"top_logprobs\": [\n              {\n     \
            \           \"token\": \" you\",\n                \"logprob\": -5.4385737e-6,\n\
            \                \"bytes\": [32, 121, 111, 117]\n              },\n  \
            \            {\n                \"token\": \" today\",\n             \
            \   \"logprob\": -12.807695,\n                \"bytes\": [32, 116, 111,\
            \ 100, 97, 121]\n              }\n            ]\n          },\n      \
            \    {\n            \"token\": \" today\",\n            \"logprob\": -0.0040071653,\n\
            \            \"bytes\": [32, 116, 111, 100, 97, 121],\n            \"\
            top_logprobs\": [\n              {\n                \"token\": \" today\"\
            ,\n                \"logprob\": -0.0040071653,\n                \"bytes\"\
            : [32, 116, 111, 100, 97, 121]\n              },\n              {\n  \
            \              \"token\": \"?\",\n                \"logprob\": -5.5247097,\n\
            \                \"bytes\": [63]\n              }\n            ]\n   \
            \       },\n          {\n            \"token\": \"?\",\n            \"\
            logprob\": -0.0008108172,\n            \"bytes\": [63],\n            \"\
            top_logprobs\": [\n              {\n                \"token\": \"?\",\n\
            \                \"logprob\": -0.0008108172,\n                \"bytes\"\
            : [63]\n              },\n              {\n                \"token\":\
            \ \"?\\n\",\n                \"logprob\": -7.184561,\n               \
            \ \"bytes\": [63, 10]\n              }\n            ]\n          }\n \
            \       ]\n      },\n      \"finish_reason\": \"stop\"\n    }\n  ],\n\
            \  \"usage\": {\n    \"prompt_tokens\": 9,\n    \"completion_tokens\"\
            : 9,\n    \"total_tokens\": 18,\n    \"completion_tokens_details\": {\n\
            \      \"reasoning_tokens\": 0,\n      \"accepted_prediction_tokens\"\
            : 0,\n      \"rejected_prediction_tokens\": 0\n    }\n  },\n  \"system_fingerprint\"\
            : null\n}\n"
  /embeddings:
    post:
      operationId: createEmbedding
      tags:
      - Embeddings
      summary: Creates an embedding vector representing the input text.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEmbeddingRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateEmbeddingResponse'
      x-oaiMeta:
        name: Create embeddings
        group: embeddings
        returns: A list of [embedding](/docs/api-reference/embeddings/object) objects.
        examples:
          request:
            curl: "curl https://api.openai.com/v1/embeddings \\\n  -H \"Authorization:\
              \ Bearer $OPENAI_API_KEY\" \\\n  -H \"Content-Type: application/json\"\
              \ \\\n  -d '{\n    \"input\": \"The food was delicious and the waiter...\"\
              ,\n    \"model\": \"text-embedding-ada-002\",\n    \"encoding_format\"\
              : \"float\"\n  }'\n"
            python: "from openai import OpenAI\nclient = OpenAI()\n\nclient.embeddings.create(\n\
              \  model=\"text-embedding-ada-002\",\n  input=\"The food was delicious\
              \ and the waiter...\",\n  encoding_format=\"float\"\n)\n"
            node.js: "import OpenAI from \"openai\";\n\nconst openai = new OpenAI();\n\
              \nasync function main() {\n  const embedding = await openai.embeddings.create({\n\
              \    model: \"text-embedding-ada-002\",\n    input: \"The quick brown\
              \ fox jumped over the lazy dog\",\n    encoding_format: \"float\",\n\
              \  });\n\n  console.log(embedding);\n}\n\nmain();\n"
            csharp: "using System;\n\nusing OpenAI.Embeddings;\n\nEmbeddingClient\
              \ client = new(\n    model: \"text-embedding-3-small\",\n    apiKey:\
              \ Environment.GetEnvironmentVariable(\"OPENAI_API_KEY\")\n);\n\nOpenAIEmbedding\
              \ embedding = client.GenerateEmbedding(input: \"The quick brown fox\
              \ jumped over the lazy dog\");\nReadOnlyMemory<float> vector = embedding.ToFloats();\n\
              \nfor (int i = 0; i < vector.Length; i++)\n{\n    Console.WriteLine($\"\
              \  [{i,4}] = {vector.Span[i]}\");\n}\n"
          response: "{\n  \"object\": \"list\",\n  \"data\": [\n    {\n      \"object\"\
            : \"embedding\",\n      \"embedding\": [\n        0.0023064255,\n    \
            \    -0.009327292,\n        .... (1536 floats total for ada-002)\n   \
            \     -0.0028842222,\n      ],\n      \"index\": 0\n    }\n  ],\n  \"\
            model\": \"text-embedding-ada-002\",\n  \"usage\": {\n    \"prompt_tokens\"\
            : 8,\n    \"total_tokens\": 8\n  }\n}\n"
  /files:
    get:
      operationId: listFiles
      tags:
      - Files
      summary: Returns a list of files.
      parameters:
      - in: query
        name: purpose
        required: false
        schema:
          type: string
        description: Only return files with the given purpose.
      - name: limit
        in: query
        description: 'A limit on the number of objects to be returned. Limit can range
          between 1 and 10,000, and the default is 10,000.

          '
        required: false
        schema:
          type: integer
          default: 10000
      - name: order
        in: query
        description: 'Sort order by the `created_at` timestamp of the objects. `asc`
          for ascending order and `desc` for descending order.

          '
        schema:
          type: string
          default: desc
          enum:
          - asc
          - desc
      - name: after
        in: query
        description: 'A cursor for use in pagination. `after` is an object ID that
          defines your place in the list. For instance, if you make a list request
          and receive 100 objects, ending with obj_foo, your subsequent call can include
          after=obj_foo in order to fetch the next page of the list.

          '
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFilesResponse'
      x-oaiMeta:
        name: List files
        group: files
        returns: A list of [File](/docs/api-reference/files/object) objects.
        examples:
          request:
            curl: "curl https://api.openai.com/v1/files \\\n  -H \"Authorization:\
              \ Bearer $OPENAI_API_KEY\"\n"
            python: 'from openai import OpenAI

              client = OpenAI()


              client.files.list()

              '
            node.js: "import OpenAI from \"openai\";\n\nconst openai = new OpenAI();\n\
              \nasync function main() {\n  const list = await openai.files.list();\n\
              \n  for await (const file of list) {\n    console.log(file);\n  }\n\
              }\n\nmain();"
          response: "{\n  \"data\": [\n    {\n      \"id\": \"file-abc123\",\n   \
            \   \"object\": \"file\",\n      \"bytes\": 175,\n      \"created_at\"\
            : 1613677385,\n      \"filename\": \"salesOverview.pdf\",\n      \"purpose\"\
            : \"assistants\",\n    },\n    {\n      \"id\": \"file-abc123\",\n   \
            \   \"object\": \"file\",\n      \"bytes\": 140,\n      \"created_at\"\
            : 1613779121,\n      \"filename\": \"puppy.jsonl\",\n      \"purpose\"\
            : \"fine-tune\",\n    }\n  ],\n  \"object\": \"list\"\n}\n"
    post:
      operationId: createFile
      tags:
      - Files
      summary: 'Upload a file that can be used across various endpoints. Individual
        files can be up to 512 MB, and the size of all files uploaded by one organization
        can be up to 100 GB.


        The Assistants API supports files up to 2 million tokens and of specific file
        types. See the [Assistants Tools guide](/docs/assistants/tools) for details.


        The Fine-tuning API only supports `.jsonl` files. The input also has certain
        required formats for fine-tuning [chat](/docs/api-reference/fine-tuning/chat-input)
        or [completions](/docs/api-reference/fine-tuning/completions-input) models.


        The Batch API only supports `.jsonl` files up to 200 MB in size. The input
        also has a specific required [format](/docs/api-reference/batch/request-input).


        Please [contact us](https://help.openai.com/) if you need to increase these
        storage limits.

        '
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateFileRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIFile'
      x-oaiMeta:
        name: Upload file
        group: files
        returns: The uploaded [File](/docs/api-reference/files/object) object.
        examples:
          request:
            curl: "curl https://api.openai.com/v1/files \\\n  -H \"Authorization:\
              \ Bearer $OPENAI_API_KEY\" \\\n  -F purpose=\"fine-tune\" \\\n  -F file=\"\
              @mydata.jsonl\"\n"
            python: "from openai import OpenAI\nclient = OpenAI()\n\nclient.files.create(\n\
              \  file=open(\"mydata.jsonl\", \"rb\"),\n  purpose=\"fine-tune\"\n)\n"
            node.js: "import fs from \"fs\";\nimport OpenAI from \"openai\";\n\nconst\
              \ openai = new OpenAI();\n\nasync function main() {\n  const file =\
              \ await openai.files.create({\n    file: fs.createReadStream(\"mydata.jsonl\"\
              ),\n    purpose: \"fine-tune\",\n  });\n\n  console.log(file);\n}\n\n\
              main();"
          response: "{\n  \"id\": \"file-abc123\",\n  \"object\": \"file\",\n  \"\
            bytes\": 120000,\n  \"created_at\": 1677610602,\n  \"filename\": \"mydata.jsonl\"\
            ,\n  \"purpose\": \"fine-tune\",\n}\n"
  /files/{file_id}:
    delete:
      operationId: deleteFile
      tags:
      - Files
      summary: Delete a file.
      parameters:
      - in: path
        name: file_id
        required: true
        schema:
          type: string
        description: The ID of the file to use for this request.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteFileResponse'
      x-oaiMeta:
        name: Delete file
        group: files
        returns: Deletion status.
        examples:
          request:
            curl: "curl https://api.openai.com/v1/files/file-abc123 \\\n  -X DELETE\
              \ \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\"\n"
            python: 'from openai import OpenAI

              client = OpenAI()


              client.files.delete("file-abc123")

              '
            node.js: "import OpenAI from \"openai\";\n\nconst openai = new OpenAI();\n\
              \nasync function main() {\n  const file = await openai.files.del(\"\
              file-abc123\");\n\n  console.log(file);\n}\n\nmain();"
          response: "{\n  \"id\": \"file-abc123\",\n  \"object\": \"file\",\n  \"\
            deleted\": true\n}\n"
  /vector_stores:
    get:
      operationId: listVectorStores
      tags:
      - Vector stores
      summary: Returns a list of vector stores.
      parameters:
      - name: limit
        in: query
        description: 'A limit on the number of objects to be returned. Limit can range
          between 1 and 100, and the default is 20.

          '
        required: false
        schema:
          type: integer
          default: 20
      - name: order
        in: query
        description: 'Sort order by the `created_at` timestamp of the objects. `asc`
          for ascending order and `desc` for descending order.

          '
        schema:
          type: string
          default: desc
          enum:
          - asc
          - desc
      - name: after
        in: query
        description: 'A cursor for use in pagination. `after` is an object ID that
          defines your place in the list. For instance, if you make a list request
          and receive 100 objects, ending with obj_foo, your subsequent call can include
          after=obj_foo in order to fetch the next page of the list.

          '
        schema:
          type: string
      - name: before
        in: query
        description: 'A cursor for use in pagination. `before` is an object ID that
          defines your place in the list. For instance, if you make a list request
          and receive 100 objects, starting with obj_foo, your subsequent call can
          include before=obj_foo in order to fetch the previous page of the list.

          '
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListVectorStoresResponse'
      x-oaiMeta:
        name: List vector stores
        group: vector_stores
        returns: A list of [vector store](/docs/api-reference/vector-stores/object)
          objects.
        examples:
          request:
            curl: "curl https://api.openai.com/v1/vector_stores \\\n  -H \"Authorization:\
              \ Bearer $OPENAI_API_KEY\" \\\n  -H \"Content-Type: application/json\"\
              \ \\\n  -H \"OpenAI-Beta: assistants=v2\"\n"
            python: 'from openai import OpenAI

              client = OpenAI()


              vector_stores = client.vector_stores.list()

              print(vector_stores)

              '
            node.js: "import OpenAI from \"openai\";\nconst openai = new OpenAI();\n\
              \nasync function main() {\n  const vectorStores = await openai.vectorStores.list();\n\
              \  console.log(vectorStores);\n}\n\nmain();\n"
          response: "{\n  \"object\": \"list\",\n  \"data\": [\n    {\n      \"id\"\
            : \"vs_abc123\",\n      \"object\": \"vector_store\",\n      \"created_at\"\
            : 1699061776,\n      \"name\": \"Support FAQ\",\n      \"bytes\": 139920,\n\
            \      \"file_counts\": {\n        \"in_progress\": 0,\n        \"completed\"\
            : 3,\n        \"failed\": 0,\n        \"cancelled\": 0,\n        \"total\"\
            : 3\n      }\n    },\n    {\n      \"id\": \"vs_abc456\",\n      \"object\"\
            : \"vector_store\",\n      \"created_at\": 1699061776,\n      \"name\"\
            : \"Support FAQ v2\",\n      \"bytes\": 139920,\n      \"file_counts\"\
            : {\n        \"in_progress\": 0,\n        \"completed\": 3,\n        \"\
            failed\": 0,\n        \"cancelled\": 0,\n        \"total\": 3\n      }\n\
            \    }\n  ],\n  \"first_id\": \"vs_abc123\",\n  \"last_id\": \"vs_abc456\"\
            ,\n  \"has_more\": false\n}\n"
    post:
      operationId: createVectorStore
      tags:
      - Vector stores
      summary: Create a vector store.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVectorStoreRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreObject'
      x-oaiMeta:
        name: Create vector store
        group: vector_stores
        returns: A [vector store](/docs/api-reference/vector-stores/object) object.
        examples:
          request:
            curl: "curl https://api.openai.com/v1/vector_stores \\\n  -H \"Authorization:\
              \ Bearer $OPENAI_API_KEY\" \\\n  -H \"Content-Type: application/json\"\
              \ \\\n  -H \"OpenAI-Beta: assistants=v2\" \\\n  -d '{\n    \"name\"\
              : \"Support FAQ\"\n  }'\n"
            python: "from openai import OpenAI\nclient = OpenAI()\n\nvector_store\
              \ = client.vector_stores.create(\n  name=\"Support FAQ\"\n)\nprint(vector_store)\n"
            node.js: "import OpenAI from \"openai\";\nconst openai = new OpenAI();\n\
              \nasync function main() {\n  const vectorStore = await openai.vectorStores.create({\n\
              \    name: \"Support FAQ\"\n  });\n  console.log(vectorStore);\n}\n\n\
              main();\n"
          response: "{\n  \"id\": \"vs_abc123\",\n  \"object\": \"vector_store\",\n\
            \  \"created_at\": 1699061776,\n  \"name\": \"Support FAQ\",\n  \"bytes\"\
            : 139920,\n  \"file_counts\": {\n    \"in_progress\": 0,\n    \"completed\"\
            : 3,\n    \"failed\": 0,\n    \"cancelled\": 0,\n    \"total\": 3\n  }\n\
            }\n"
  /vector_stores/{vector_store_id}/files:
    get:
      operationId: listVectorStoreFiles
      tags:
      - Vector stores
      summary: Returns a list of vector store files.
      parameters:
      - name: vector_store_id
        in: path
        description: The ID of the vector store that the files belong to.
        required: true
        schema:
          type: string
      - name: limit
        in: query
        description: 'A limit on the number of objects to be returned. Limit can range
          between 1 and 100, and the default is 20.

          '
        required: false
        schema:
          type: integer
          default: 20
      - name: order
        in: query
        description: 'Sort order by the `created_at` timestamp of the objects. `asc`
          for ascending order and `desc` for descending order.

          '
        schema:
          type: string
          default: desc
          enum:
          - asc
          - desc
      - name: after
        in: query
        description: 'A cursor for use in pagination. `after` is an object ID that
          defines your place in the list. For instance, if you make a list request
          and receive 100 objects, ending with obj_foo, your subsequent call can include
          after=obj_foo in order to fetch the next page of the list.

          '
        schema:
          type: string
      - name: before
        in: query
        description: 'A cursor for use in pagination. `before` is an object ID that
          defines your place in the list. For instance, if you make a list request
          and receive 100 objects, starting with obj_foo, your subsequent call can
          include before=obj_foo in order to fetch the previous page of the list.

          '
        schema:
          type: string
      - name: filter
        in: query
        description: Filter by file status. One of `in_progress`, `completed`, `failed`,
          `cancelled`.
        schema:
          type: string
          enum:
          - in_progress
          - completed
          - failed
          - cancelled
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListVectorStoreFilesResponse'
      x-oaiMeta:
        name: List vector store files
        group: vector_stores
        returns: A list of [vector store file](/docs/api-reference/vector-stores-files/file-object)
          objects.
        examples:
          request:
            curl: "curl https://api.openai.com/v1/vector_stores/vs_abc123/files \\\
              \n  -H \"Authorization: Bearer $OPENAI_API_KEY\" \\\n  -H \"Content-Type:\
              \ application/json\" \\\n  -H \"OpenAI-Beta: assistants=v2\"\n"
            python: "from openai import OpenAI\nclient = OpenAI()\n\nvector_store_files\
              \ = client.vector_stores.files.list(\n  vector_store_id=\"vs_abc123\"\
              \n)\nprint(vector_store_files)\n"
            node.js: "import OpenAI from \"openai\";\nconst openai = new OpenAI();\n\
              \nasync function main() {\n  const vectorStoreFiles = await openai.vectorStores.files.list(\n\
              \    \"vs_abc123\"\n  );\n  console.log(vectorStoreFiles);\n}\n\nmain();\n"
          response: "{\n  \"object\": \"list\",\n  \"data\": [\n    {\n      \"id\"\
            : \"file-abc123\",\n      \"object\": \"vector_store.file\",\n      \"\
            created_at\": 1699061776,\n      \"vector_store_id\": \"vs_abc123\"\n\
            \    },\n    {\n      \"id\": \"file-abc456\",\n      \"object\": \"vector_store.file\"\
            ,\n      \"created_at\": 1699061776,\n      \"vector_store_id\": \"vs_abc123\"\
            \n    }\n  ],\n  \"first_id\": \"file-abc123\",\n  \"last_id\": \"file-abc456\"\
            ,\n  \"has_more\": false\n}\n"
    post:
      operationId: createVectorStoreFile
      tags:
      - Vector stores
      summary: Create a vector store file by attaching a [File](/docs/api-reference/files)
        to a [vector store](/docs/api-reference/vector-stores/object).
      parameters:
      - in: path
        name: vector_store_id
        required: true
        schema:
          type: string
          example: vs_abc123
        description: 'The ID of the vector store for which to create a File.

          '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVectorStoreFileRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreFileObject'
      x-oaiMeta:
        name: Create vector store file
        group: vector_stores
        returns: A [vector store file](/docs/api-reference/vector-stores-files/file-object)
          object.
        examples:
          request:
            curl: "curl https://api.openai.com/v1/vector_stores/vs_abc123/files \\\
              \n    -H \"Authorization: Bearer $OPENAI_API_KEY\" \\\n    -H \"Content-Type:\
              \ application/json\" \\\n    -H \"OpenAI-Beta: assistants=v2\" \\\n\
              \    -d '{\n      \"file_id\": \"file-abc123\"\n    }'\n"
            python: "from openai import OpenAI\nclient = OpenAI()\n\nvector_store_file\
              \ = client.vector_stores.files.create(\n  vector_store_id=\"vs_abc123\"\
              ,\n  file_id=\"file-abc123\"\n)\nprint(vector_store_file)\n"
            node.js: "import OpenAI from \"openai\";\nconst openai = new OpenAI();\n\
              \nasync function main() {\n  const myVectorStoreFile = await openai.vectorStores.files.create(\n\
              \    \"vs_abc123\",\n    {\n      file_id: \"file-abc123\"\n    }\n\
              \  );\n  console.log(myVectorStoreFile);\n}\n\nmain();\n"
          response: "{\n  \"id\": \"file-abc123\",\n  \"object\": \"vector_store.file\"\
            ,\n  \"created_at\": 1699061776,\n  \"usage_bytes\": 1234,\n  \"vector_store_id\"\
            : \"vs_abcd\",\n  \"status\": \"completed\",\n  \"last_error\": null\n\
            }\n"
  /vector_stores/{vector_store_id}/files/{file_id}:
    delete:
      operationId: deleteVectorStoreFile
      tags:
      - Vector stores
      summary: Delete a vector store file. This will remove the file from the vector
        store but the file itself will not be deleted. To delete the file, use the
        [delete file](/docs/api-reference/files/delete) endpoint.
      parameters:
      - in: path
        name: vector_store_id
        required: true
        schema:
          type: string
        description: The ID of the vector store that the file belongs to.
      - in: path
        name: file_id
        required: true
        schema:
          type: string
        description: The ID of the file to delete.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteVectorStoreFileResponse'
      x-oaiMeta:
        name: Delete vector store file
        group: vector_stores
        returns: Deletion status
        examples:
          request:
            curl: "curl https://api.openai.com/v1/vector_stores/vs_abc123/files/file-abc123\
              \ \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\" \\\n  -H \"Content-Type:\
              \ application/json\" \\\n  -H \"OpenAI-Beta: assistants=v2\" \\\n  -X\
              \ DELETE\n"
            python: "from openai import OpenAI\nclient = OpenAI()\n\ndeleted_vector_store_file\
              \ = client.vector_stores.files.delete(\n    vector_store_id=\"vs_abc123\"\
              ,\n    file_id=\"file-abc123\"\n)\nprint(deleted_vector_store_file)\n"
            node.js: "import OpenAI from \"openai\";\nconst openai = new OpenAI();\n\
              \nasync function main() {\n  const deletedVectorStoreFile = await openai.vectorStores.files.del(\n\
              \    \"vs_abc123\",\n    \"file-abc123\"\n  );\n  console.log(deletedVectorStoreFile);\n\
              }\n\nmain();\n"
          response: "{\n  id: \"file-abc123\",\n  object: \"vector_store.file.deleted\"\
            ,\n  deleted: true\n}\n"
  /assistants:
    get:
      operationId: listAssistants
      tags:
      - Assistants
      summary: Returns a list of assistants.
      parameters:
      - name: limit
        in: query
        description: 'A limit on the number of objects to be returned. Limit can range
          between 1 and 100, and the default is 20.

          '
        required: false
        schema:
          type: integer
          default: 20
      - name: order
        in: query
        description: 'Sort order by the `created_at` timestamp of the objects. `asc`
          for ascending order and `desc` for descending order.

          '
        schema:
          type: string
          default: desc
          enum:
          - asc
          - desc
      - name: after
        in: query
        description: 'A cursor for use in pagination. `after` is an object ID that
          defines your place in the list. For instance, if you make a list request
          and receive 100 objects, ending with obj_foo, your subsequent call can include
          after=obj_foo in order to fetch the next page of the list.

          '
        schema:
          type: string
      - name: before
        in: query
        description: 'A cursor for use in pagination. `before` is an object ID that
          defines your place in the list. For instance, if you make a list request
          and receive 100 objects, starting with obj_foo, your subsequent call can
          include before=obj_foo in order to fetch the previous page of the list.

          '
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAssistantsResponse'
      x-oaiMeta:
        name: List assistants
        group: assistants
        beta: true
        returns: A list of [assistant](/docs/api-reference/assistants/object) objects.
        examples:
          request:
            curl: "curl \"https://api.openai.com/v1/assistants?order=desc&limit=20\"\
              \ \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization:\
              \ Bearer $OPENAI_API_KEY\" \\\n  -H \"OpenAI-Beta: assistants=v2\"\n"
            python: "from openai import OpenAI\nclient = OpenAI()\n\nmy_assistants\
              \ = client.beta.assistants.list(\n    order=\"desc\",\n    limit=\"\
              20\",\n)\nprint(my_assistants.data)\n"
            node.js: "import OpenAI from \"openai\";\n\nconst openai = new OpenAI();\n\
              \nasync function main() {\n  const myAssistants = await openai.beta.assistants.list({\n\
              \    order: \"desc\",\n    limit: \"20\",\n  });\n\n  console.log(myAssistants.data);\n\
              }\n\nmain();"
          response: "{\n  \"object\": \"list\",\n  \"data\": [\n    {\n      \"id\"\
            : \"asst_abc123\",\n      \"object\": \"assistant\",\n      \"created_at\"\
            : 1698982736,\n      \"name\": \"Coding Tutor\",\n      \"description\"\
            : null,\n      \"model\": \"gpt-4o\",\n      \"instructions\": \"You are\
            \ a helpful assistant designed to make me better at coding!\",\n     \
            \ \"tools\": [],\n      \"tool_resources\": {},\n      \"metadata\": {},\n\
            \      \"top_p\": 1.0,\n      \"temperature\": 1.0,\n      \"response_format\"\
            : \"auto\"\n    },\n    {\n      \"id\": \"asst_abc456\",\n      \"object\"\
            : \"assistant\",\n      \"created_at\": 1698982718,\n      \"name\": \"\
            My Assistant\",\n      \"description\": null,\n      \"model\": \"gpt-4o\"\
            ,\n      \"instructions\": \"You are a helpful assistant designed to make\
            \ me better at coding!\",\n      \"tools\": [],\n      \"tool_resources\"\
            : {},\n      \"metadata\": {},\n      \"top_p\": 1.0,\n      \"temperature\"\
            : 1.0,\n      \"response_format\": \"auto\"\n    },\n    {\n      \"id\"\
            : \"asst_abc789\",\n      \"object\": \"assistant\",\n      \"created_at\"\
            : 1698982643,\n      \"name\": null,\n      \"description\": null,\n \
            \     \"model\": \"gpt-4o\",\n      \"instructions\": null,\n      \"\
            tools\": [],\n      \"tool_resources\": {},\n      \"metadata\": {},\n\
            \      \"top_p\": 1.0,\n      \"temperature\": 1.0,\n      \"response_format\"\
            : \"auto\"\n    }\n  ],\n  \"first_id\": \"asst_abc123\",\n  \"last_id\"\
            : \"asst_abc789\",\n  \"has_more\": false\n}\n"
  /threads:
    post:
      operationId: createThread
      tags:
      - Assistants
      summary: Create a thread.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateThreadRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadObject'
      x-oaiMeta:
        name: Create thread
        group: threads
        beta: true
        returns: A [thread](/docs/api-reference/threads) object.
        examples:
        - title: Empty
          request:
            curl: "curl https://api.openai.com/v1/threads \\\n  -H \"Content-Type:\
              \ application/json\" \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\"\
              \ \\\n  -H \"OpenAI-Beta: assistants=v2\" \\\n  -d ''\n"
            python: 'from openai import OpenAI

              client = OpenAI()


              empty_thread = client.beta.threads.create()

              print(empty_thread)

              '
            node.js: "import OpenAI from \"openai\";\n\nconst openai = new OpenAI();\n\
              \nasync function main() {\n  const emptyThread = await openai.beta.threads.create();\n\
              \n  console.log(emptyThread);\n}\n\nmain();"
          response: "{\n  \"id\": \"thread_abc123\",\n  \"object\": \"thread\",\n\
            \  \"created_at\": 1699012949,\n  \"metadata\": {},\n  \"tool_resources\"\
            : {}\n}\n"
        - title: Messages
          request:
            curl: "curl https://api.openai.com/v1/threads \\\n-H \"Content-Type: application/json\"\
              \ \\\n-H \"Authorization: Bearer $OPENAI_API_KEY\" \\\n-H \"OpenAI-Beta:\
              \ assistants=v2\" \\\n-d '{\n    \"messages\": [{\n      \"role\": \"\
              user\",\n      \"content\": \"Hello, what is AI?\"\n    }, {\n     \
              \ \"role\": \"user\",\n      \"content\": \"How does AI work? Explain\
              \ it in simple terms.\"\n    }]\n  }'\n"
            python: "from openai import OpenAI\nclient = OpenAI()\n\nmessage_thread\
              \ = client.beta.threads.create(\n  messages=[\n    {\n      \"role\"\
              : \"user\",\n      \"content\": \"Hello, what is AI?\"\n    },\n   \
              \ {\n      \"role\": \"user\",\n      \"content\": \"How does AI work?\
              \ Explain it in simple terms.\"\n    },\n  ]\n)\n\nprint(message_thread)\n"
            node.js: "import OpenAI from \"openai\";\n\nconst openai = new OpenAI();\n\
              \nasync function main() {\n  const messageThread = await openai.beta.threads.create({\n\
              \    messages: [\n      {\n        role: \"user\",\n        content:\
              \ \"Hello, what is AI?\"\n      },\n      {\n        role: \"user\"\
              ,\n        content: \"How does AI work? Explain it in simple terms.\"\
              ,\n      },\n    ],\n  });\n\n  console.log(messageThread);\n}\n\nmain();"
          response: "{\n  \"id\": \"thread_abc123\",\n  \"object\": \"thread\",\n\
            \  \"created_at\": 1699014083,\n  \"metadata\": {},\n  \"tool_resources\"\
            : {}\n}\n"
  /threads/{thread_id}/messages:
    get:
      operationId: listMessages
      tags:
      - Assistants
      summary: Returns a list of messages for a given thread.
      parameters:
      - in: path
        name: thread_id
        required: true
        schema:
          type: string
        description: The ID of the [thread](/docs/api-reference/threads) the messages
          belong to.
      - name: limit
        in: query
        description: 'A limit on the number of objects to be returned. Limit can range
          between 1 and 100, and the default is 20.

          '
        required: false
        schema:
          type: integer
          default: 20
      - name: order
        in: query
        description: 'Sort order by the `created_at` timestamp of the objects. `asc`
          for ascending order and `desc` for descending order.

          '
        schema:
          type: string
          default: desc
          enum:
          - asc
          - desc
      - name: after
        in: query
        description: 'A cursor for use in pagination. `after` is an object ID that
          defines your place in the list. For instance, if you make a list request
          and receive 100 objects, ending with obj_foo, your subsequent call can include
          after=obj_foo in order to fetch the next page of the list.

          '
        schema:
          type: string
      - name: before
        in: query
        description: 'A cursor for use in pagination. `before` is an object ID that
          defines your place in the list. For instance, if you make a list request
          and receive 100 objects, starting with obj_foo, your subsequent call can
          include before=obj_foo in order to fetch the previous page of the list.

          '
        schema:
          type: string
      - name: run_id
        in: query
        description: 'Filter messages by the run ID that generated them.

          '
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMessagesResponse'
      x-oaiMeta:
        name: List messages
        group: threads
        beta: true
        returns: A list of [message](/docs/api-reference/messages) objects.
        examples:
          request:
            curl: "curl https://api.openai.com/v1/threads/thread_abc123/messages \\\
              \n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization:\
              \ Bearer $OPENAI_API_KEY\" \\\n  -H \"OpenAI-Beta: assistants=v2\"\n"
            python: 'from openai import OpenAI

              client = OpenAI()


              thread_messages = client.beta.threads.messages.list("thread_abc123")

              print(thread_messages.data)

              '
            node.js: "import OpenAI from \"openai\";\n\nconst openai = new OpenAI();\n\
              \nasync function main() {\n  const threadMessages = await openai.beta.threads.messages.list(\n\
              \    \"thread_abc123\"\n  );\n\n  console.log(threadMessages.data);\n\
              }\n\nmain();"
          response: "{\n  \"object\": \"list\",\n  \"data\": [\n    {\n      \"id\"\
            : \"msg_abc123\",\n      \"object\": \"thread.message\",\n      \"created_at\"\
            : 1699016383,\n      \"assistant_id\": null,\n      \"thread_id\": \"\
            thread_abc123\",\n      \"run_id\": null,\n      \"role\": \"user\",\n\
            \      \"content\": [\n        {\n          \"type\": \"text\",\n    \
            \      \"text\": {\n            \"value\": \"How does AI work? Explain\
            \ it in simple terms.\",\n            \"annotations\": []\n          }\n\
            \        }\n      ],\n      \"attachments\": [],\n      \"metadata\":\
            \ {}\n    },\n    {\n      \"id\": \"msg_abc456\",\n      \"object\":\
            \ \"thread.message\",\n      \"created_at\": 1699016383,\n      \"assistant_id\"\
            : null,\n      \"thread_id\": \"thread_abc123\",\n      \"run_id\": null,\n\
            \      \"role\": \"user\",\n      \"content\": [\n        {\n        \
            \  \"type\": \"text\",\n          \"text\": {\n            \"value\":\
            \ \"Hello, what is AI?\",\n            \"annotations\": []\n         \
            \ }\n        }\n      ],\n      \"attachments\": [],\n      \"metadata\"\
            : {}\n    }\n  ],\n  \"first_id\": \"msg_abc123\",\n  \"last_id\": \"\
            msg_abc456\",\n  \"has_more\": false\n}\n"
    post:
      operationId: createMessage
      tags:
      - Assistants
      summary: Create a message.
      parameters:
      - in: path
        name: thread_id
        required: true
        schema:
          type: string
        description: The ID of the [thread](/docs/api-reference/threads) to create
          a message for.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMessageRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageObject'
      x-oaiMeta:
        name: Create message
        group: threads
        beta: true
        returns: A [message](/docs/api-reference/messages/object) object.
        examples:
          request:
            curl: "curl https://api.openai.com/v1/threads/thread_abc123/messages \\\
              \n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization:\
              \ Bearer $OPENAI_API_KEY\" \\\n  -H \"OpenAI-Beta: assistants=v2\" \\\
              \n  -d '{\n      \"role\": \"user\",\n      \"content\": \"How does\
              \ AI work? Explain it in simple terms.\"\n    }'\n"
            python: "from openai import OpenAI\nclient = OpenAI()\n\nthread_message\
              \ = client.beta.threads.messages.create(\n  \"thread_abc123\",\n  role=\"\
              user\",\n  content=\"How does AI work? Explain it in simple terms.\"\
              ,\n)\nprint(thread_message)\n"
            node.js: "import OpenAI from \"openai\";\n\nconst openai = new OpenAI();\n\
              \nasync function main() {\n  const threadMessages = await openai.beta.threads.messages.create(\n\
              \    \"thread_abc123\",\n    { role: \"user\", content: \"How does AI\
              \ work? Explain it in simple terms.\" }\n  );\n\n  console.log(threadMessages);\n\
              }\n\nmain();"
          response: "{\n  \"id\": \"msg_abc123\",\n  \"object\": \"thread.message\"\
            ,\n  \"created_at\": 1713226573,\n  \"assistant_id\": null,\n  \"thread_id\"\
            : \"thread_abc123\",\n  \"run_id\": null,\n  \"role\": \"user\",\n  \"\
            content\": [\n    {\n      \"type\": \"text\",\n      \"text\": {\n  \
            \      \"value\": \"How does AI work? Explain it in simple terms.\",\n\
            \        \"annotations\": []\n      }\n    }\n  ],\n  \"attachments\"\
            : [],\n  \"metadata\": {}\n}\n"
  /threads/runs:
    post:
      operationId: createThreadAndRun
      tags:
      - Assistants
      summary: Create a thread and run it in one request.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateThreadAndRunRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunObject'
      x-oaiMeta:
        name: Create thread and run
        group: threads
        beta: true
        returns: A [run](/docs/api-reference/runs/object) object.
        examples:
        - title: Default
          request:
            curl: "curl https://api.openai.com/v1/threads/runs \\\n  -H \"Authorization:\
              \ Bearer $OPENAI_API_KEY\" \\\n  -H \"Content-Type: application/json\"\
              \ \\\n  -H \"OpenAI-Beta: assistants=v2\" \\\n  -d '{\n      \"assistant_id\"\
              : \"asst_abc123\",\n      \"thread\": {\n        \"messages\": [\n \
              \         {\"role\": \"user\", \"content\": \"Explain deep learning\
              \ to a 5 year old.\"}\n        ]\n      }\n    }'\n"
            python: "from openai import OpenAI\nclient = OpenAI()\n\nrun = client.beta.threads.create_and_run(\n\
              \  assistant_id=\"asst_abc123\",\n  thread={\n    \"messages\": [\n\
              \      {\"role\": \"user\", \"content\": \"Explain deep learning to\
              \ a 5 year old.\"}\n    ]\n  }\n)\n\nprint(run)\n"
            node.js: "import OpenAI from \"openai\";\n\nconst openai = new OpenAI();\n\
              \nasync function main() {\n  const run = await openai.beta.threads.createAndRun({\n\
              \    assistant_id: \"asst_abc123\",\n    thread: {\n      messages:\
              \ [\n        { role: \"user\", content: \"Explain deep learning to a\
              \ 5 year old.\" },\n      ],\n    },\n  });\n\n  console.log(run);\n\
              }\n\nmain();\n"
          response: "{\n  \"id\": \"run_abc123\",\n  \"object\": \"thread.run\",\n\
            \  \"created_at\": 1699076792,\n  \"assistant_id\": \"asst_abc123\",\n\
            \  \"thread_id\": \"thread_abc123\",\n  \"status\": \"queued\",\n  \"\
            started_at\": null,\n  \"expires_at\": 1699077392,\n  \"cancelled_at\"\
            : null,\n  \"failed_at\": null,\n  \"completed_at\": null,\n  \"required_action\"\
            : null,\n  \"last_error\": null,\n  \"model\": \"gpt-4o\",\n  \"instructions\"\
            : \"You are a helpful assistant.\",\n  \"tools\": [],\n  \"tool_resources\"\
            : {},\n  \"metadata\": {},\n  \"temperature\": 1.0,\n  \"top_p\": 1.0,\n\
            \  \"max_completion_tokens\": null,\n  \"max_prompt_tokens\": null,\n\
            \  \"truncation_strategy\": {\n    \"type\": \"auto\",\n    \"last_messages\"\
            : null\n  },\n  \"incomplete_details\": null,\n  \"usage\": null,\n  \"\
            response_format\": \"auto\",\n  \"tool_choice\": \"auto\",\n  \"parallel_tool_calls\"\
            : true\n}\n"
        - title: Streaming
          request:
            curl: "curl https://api.openai.com/v1/threads/runs \\\n  -H \"Authorization:\
              \ Bearer $OPENAI_API_KEY\" \\\n  -H \"Content-Type: application/json\"\
              \ \\\n  -H \"OpenAI-Beta: assistants=v2\" \\\n  -d '{\n    \"assistant_id\"\
              : \"asst_123\",\n    \"thread\": {\n      \"messages\": [\n        {\"\
              role\": \"user\", \"content\": \"Hello\"}\n      ]\n    },\n    \"stream\"\
              : true\n  }'\n"
            python: "from openai import OpenAI\nclient = OpenAI()\n\nstream = client.beta.threads.create_and_run(\n\
              \  assistant_id=\"asst_123\",\n  thread={\n    \"messages\": [\n   \
              \   {\"role\": \"user\", \"content\": \"Hello\"}\n    ]\n  },\n  stream=True\n\
              )\n\nfor event in stream:\n  print(event)\n"
            node.js: "import OpenAI from \"openai\";\n\nconst openai = new OpenAI();\n\
              \nasync function main() {\n  const stream = await openai.beta.threads.createAndRun({\n\
              \      assistant_id: \"asst_123\",\n      thread: {\n        messages:\
              \ [\n          { role: \"user\", content: \"Hello\" },\n        ],\n\
              \      },\n      stream: true\n  });\n\n  for await (const event of\
              \ stream) {\n    console.log(event);\n  }\n}\n\nmain();\n"
          response: 'event: thread.created

            data: {"id":"thread_123","object":"thread","created_at":1710348075,"metadata":{}}


            event: thread.run.created

            data: {"id":"run_123","object":"thread.run","created_at":1710348075,"assistant_id":"asst_123","thread_id":"thread_123","status":"queued","started_at":null,"expires_at":1710348675,"cancelled_at":null,"failed_at":null,"completed_at":null,"required_action":null,"last_error":null,"model":"gpt-4o","instructions":null,"tools":[],"tool_resources":{},"metadata":{},"temperature":1.0,"top_p":1.0,"max_completion_tokens":null,"max_prompt_tokens":null,"truncation_strategy":{"type":"auto","last_messages":null},"incomplete_details":null,"usage":null,"response_format":"auto","tool_choice":"auto","parallel_tool_calls":true}


            event: thread.run.queued

            data: {"id":"run_123","object":"thread.run","created_at":1710348075,"assistant_id":"asst_123","thread_id":"thread_123","status":"queued","started_at":null,"expires_at":1710348675,"cancelled_at":null,"failed_at":null,"completed_at":null,"required_action":null,"last_error":null,"model":"gpt-4o","instructions":null,"tools":[],"tool_resources":{},"metadata":{},"temperature":1.0,"top_p":1.0,"max_completion_tokens":null,"max_prompt_tokens":null,"truncation_strategy":{"type":"auto","last_messages":null},"incomplete_details":null,"usage":null,"response_format":"auto","tool_choice":"auto","parallel_tool_calls":true}


            event: thread.run.in_progress

            data: {"id":"run_123","object":"thread.run","created_at":1710348075,"assistant_id":"asst_123","thread_id":"thread_123","status":"in_progress","started_at":null,"expires_at":1710348675,"cancelled_at":null,"failed_at":null,"completed_at":null,"required_action":null,"last_error":null,"model":"gpt-4o","instructions":null,"tools":[],"tool_resources":{},"metadata":{},"temperature":1.0,"top_p":1.0,"max_completion_tokens":null,"max_prompt_tokens":null,"truncation_strategy":{"type":"auto","last_messages":null},"incomplete_details":null,"usage":null,"response_format":"auto","tool_choice":"auto","parallel_tool_calls":true}


            event: thread.run.step.created

            data: {"id":"step_001","object":"thread.run.step","created_at":1710348076,"run_id":"run_123","assistant_id":"asst_123","thread_id":"thread_123","type":"message_creation","status":"in_progress","cancelled_at":null,"completed_at":null,"expires_at":1710348675,"failed_at":null,"last_error":null,"step_details":{"type":"message_creation","message_creation":{"message_id":"msg_001"}},"usage":null}


            event: thread.run.step.in_progress

            data: {"id":"step_001","object":"thread.run.step","created_at":1710348076,"run_id":"run_123","assistant_id":"asst_123","thread_id":"thread_123","type":"message_creation","status":"in_progress","cancelled_at":null,"completed_at":null,"expires_at":1710348675,"failed_at":null,"last_error":null,"step_details":{"type":"message_creation","message_creation":{"message_id":"msg_001"}},"usage":null}


            event: thread.message.created

            data: {"id":"msg_001","object":"thread.message","created_at":1710348076,"assistant_id":"asst_123","thread_id":"thread_123","run_id":"run_123","status":"in_progress","incomplete_details":null,"incomplete_at":null,"completed_at":null,"role":"assistant","content":[],
            "metadata":{}}


            event: thread.message.in_progress

            data: {"id":"msg_001","object":"thread.message","created_at":1710348076,"assistant_id":"asst_123","thread_id":"thread_123","run_id":"run_123","status":"in_progress","incomplete_details":null,"incomplete_at":null,"completed_at":null,"role":"assistant","content":[],
            "metadata":{}}


            event: thread.message.delta

            data: {"id":"msg_001","object":"thread.message.delta","delta":{"content":[{"index":0,"type":"text","text":{"value":"Hello","annotations":[]}}]}}


            ...


            event: thread.message.delta

            data: {"id":"msg_001","object":"thread.message.delta","delta":{"content":[{"index":0,"type":"text","text":{"value":"
            today"}}]}}


            event: thread.message.delta

            data: {"id":"msg_001","object":"thread.message.delta","delta":{"content":[{"index":0,"type":"text","text":{"value":"?"}}]}}


            event: thread.message.completed

            data: {"id":"msg_001","object":"thread.message","created_at":1710348076,"assistant_id":"asst_123","thread_id":"thread_123","run_id":"run_123","status":"completed","incomplete_details":null,"incomplete_at":null,"completed_at":1710348077,"role":"assistant","content":[{"type":"text","text":{"value":"Hello!
            How can I assist you today?","annotations":[]}}], "metadata":{}}


            event: thread.run.step.completed

            data: {"id":"step_001","object":"thread.run.step","created_at":1710348076,"run_id":"run_123","assistant_id":"asst_123","thread_id":"thread_123","type":"message_creation","status":"completed","cancelled_at":null,"completed_at":1710348077,"expires_at":1710348675,"failed_at":null,"last_error":null,"step_details":{"type":"message_creation","message_creation":{"message_id":"msg_001"}},"usage":{"prompt_tokens":20,"completion_tokens":11,"total_tokens":31}}


            event: thread.run.completed

            {"id":"run_123","object":"thread.run","created_at":1710348076,"assistant_id":"asst_123","thread_id":"thread_123","status":"completed","started_at":1713226836,"expires_at":null,"cancelled_at":null,"failed_at":null,"completed_at":1713226837,"required_action":null,"last_error":null,"model":"gpt-4o","instructions":null,"tools":[],"metadata":{},"temperature":1.0,"top_p":1.0,"max_completion_tokens":null,"max_prompt_tokens":null,"truncation_strategy":{"type":"auto","last_messages":null},"incomplete_details":null,"usage":{"prompt_tokens":345,"completion_tokens":11,"total_tokens":356},"response_format":"auto","tool_choice":"auto","parallel_tool_calls":true}


            event: done

            data: [DONE]

            '
        - title: Streaming with Functions
          request:
            curl: "curl https://api.openai.com/v1/threads/runs \\\n  -H \"Authorization:\
              \ Bearer $OPENAI_API_KEY\" \\\n  -H \"Content-Type: application/json\"\
              \ \\\n  -H \"OpenAI-Beta: assistants=v2\" \\\n  -d '{\n    \"assistant_id\"\
              : \"asst_abc123\",\n    \"thread\": {\n      \"messages\": [\n     \
              \   {\"role\": \"user\", \"content\": \"What is the weather like in\
              \ San Francisco?\"}\n      ]\n    },\n    \"tools\": [\n      {\n  \
              \      \"type\": \"function\",\n        \"function\": {\n          \"\
              name\": \"get_current_weather\",\n          \"description\": \"Get the\
              \ current weather in a given location\",\n          \"parameters\":\
              \ {\n            \"type\": \"object\",\n            \"properties\":\
              \ {\n              \"location\": {\n                \"type\": \"string\"\
              ,\n                \"description\": \"The city and state, e.g. San Francisco,\
              \ CA\"\n              },\n              \"unit\": {\n              \
              \  \"type\": \"string\",\n                \"enum\": [\"celsius\", \"\
              fahrenheit\"]\n              }\n            },\n            \"required\"\
              : [\"location\"]\n          }\n        }\n      }\n    ],\n    \"stream\"\
              : true\n  }'\n"
            python: "from openai import OpenAI\nclient = OpenAI()\n\ntools = [\n \
              \ {\n    \"type\": \"function\",\n    \"function\": {\n      \"name\"\
              : \"get_current_weather\",\n      \"description\": \"Get the current\
              \ weather in a given location\",\n      \"parameters\": {\n        \"\
              type\": \"object\",\n        \"properties\": {\n          \"location\"\
              : {\n            \"type\": \"string\",\n            \"description\"\
              : \"The city and state, e.g. San Francisco, CA\",\n          },\n  \
              \        \"unit\": {\"type\": \"string\", \"enum\": [\"celsius\", \"\
              fahrenheit\"]},\n        },\n        \"required\": [\"location\"],\n\
              \      },\n    }\n  }\n]\n\nstream = client.beta.threads.create_and_run(\n\
              \  thread={\n      \"messages\": [\n        {\"role\": \"user\", \"\
              content\": \"What is the weather like in San Francisco?\"}\n      ]\n\
              \  },\n  assistant_id=\"asst_abc123\",\n  tools=tools,\n  stream=True\n\
              )\n\nfor event in stream:\n  print(event)\n"
            node.js: "import OpenAI from \"openai\";\n\nconst openai = new OpenAI();\n\
              \nconst tools = [\n    {\n      \"type\": \"function\",\n      \"function\"\
              : {\n        \"name\": \"get_current_weather\",\n        \"description\"\
              : \"Get the current weather in a given location\",\n        \"parameters\"\
              : {\n          \"type\": \"object\",\n          \"properties\": {\n\
              \            \"location\": {\n              \"type\": \"string\",\n\
              \              \"description\": \"The city and state, e.g. San Francisco,\
              \ CA\",\n            },\n            \"unit\": {\"type\": \"string\"\
              , \"enum\": [\"celsius\", \"fahrenheit\"]},\n          },\n        \
              \  \"required\": [\"location\"],\n        },\n      }\n    }\n];\n\n\
              async function main() {\n  const stream = await openai.beta.threads.createAndRun({\n\
              \    assistant_id: \"asst_123\",\n    thread: {\n      messages: [\n\
              \        { role: \"user\", content: \"What is the weather like in San\
              \ Francisco?\" },\n      ],\n    },\n    tools: tools,\n    stream:\
              \ true\n  });\n\n  for await (const event of stream) {\n    console.log(event);\n\
              \  }\n}\n\nmain();\n"
          response: 'event: thread.created

            data: {"id":"thread_123","object":"thread","created_at":1710351818,"metadata":{}}


            event: thread.run.created

            data: {"id":"run_123","object":"thread.run","created_at":1710351818,"assistant_id":"asst_123","thread_id":"thread_123","status":"queued","started_at":null,"expires_at":1710352418,"cancelled_at":null,"failed_at":null,"completed_at":null,"required_action":null,"last_error":null,"model":"gpt-4o","instructions":null,"tools":[{"type":"function","function":{"name":"get_current_weather","description":"Get
            the current weather in a given location","parameters":{"type":"object","properties":{"location":{"type":"string","description":"The
            city and state, e.g. San Francisco, CA"},"unit":{"type":"string","enum":["celsius","fahrenheit"]}},"required":["location"]}}}],"metadata":{},"temperature":1.0,"top_p":1.0,"max_completion_tokens":null,"max_prompt_tokens":null,"truncation_strategy":{"type":"auto","last_messages":null},"incomplete_details":null,"usage":null,"response_format":"auto","tool_choice":"auto","parallel_tool_calls":true}}


            event: thread.run.queued

            data: {"id":"run_123","object":"thread.run","created_at":1710351818,"assistant_id":"asst_123","thread_id":"thread_123","status":"queued","started_at":null,"expires_at":1710352418,"cancelled_at":null,"failed_at":null,"completed_at":null,"required_action":null,"last_error":null,"model":"gpt-4o","instructions":null,"tools":[{"type":"function","function":{"name":"get_current_weather","description":"Get
            the current weather in a given location","parameters":{"type":"object","properties":{"location":{"type":"string","description":"The
            city and state, e.g. San Francisco, CA"},"unit":{"type":"string","enum":["celsius","fahrenheit"]}},"required":["location"]}}}],"metadata":{},"temperature":1.0,"top_p":1.0,"max_completion_tokens":null,"max_prompt_tokens":null,"truncation_strategy":{"type":"auto","last_messages":null},"incomplete_details":null,"usage":null,"response_format":"auto","tool_choice":"auto","parallel_tool_calls":true}}


            event: thread.run.in_progress

            data: {"id":"run_123","object":"thread.run","created_at":1710351818,"assistant_id":"asst_123","thread_id":"thread_123","status":"in_progress","started_at":1710351818,"expires_at":1710352418,"cancelled_at":null,"failed_at":null,"completed_at":null,"required_action":null,"last_error":null,"model":"gpt-4o","instructions":null,"tools":[{"type":"function","function":{"name":"get_current_weather","description":"Get
            the current weather in a given location","parameters":{"type":"object","properties":{"location":{"type":"string","description":"The
            city and state, e.g. San Francisco, CA"},"unit":{"type":"string","enum":["celsius","fahrenheit"]}},"required":["location"]}}}],"metadata":{},"temperature":1.0,"top_p":1.0,"max_completion_tokens":null,"max_prompt_tokens":null,"truncation_strategy":{"type":"auto","last_messages":null},"incomplete_details":null,"usage":null,"response_format":"auto","tool_choice":"auto","parallel_tool_calls":true}}


            event: thread.run.step.created

            data: {"id":"step_001","object":"thread.run.step","created_at":1710351819,"run_id":"run_123","assistant_id":"asst_123","thread_id":"thread_123","type":"tool_calls","status":"in_progress","cancelled_at":null,"completed_at":null,"expires_at":1710352418,"failed_at":null,"last_error":null,"step_details":{"type":"tool_calls","tool_calls":[]},"usage":null}


            event: thread.run.step.in_progress

            data: {"id":"step_001","object":"thread.run.step","created_at":1710351819,"run_id":"run_123","assistant_id":"asst_123","thread_id":"thread_123","type":"tool_calls","status":"in_progress","cancelled_at":null,"completed_at":null,"expires_at":1710352418,"failed_at":null,"last_error":null,"step_details":{"type":"tool_calls","tool_calls":[]},"usage":null}


            event: thread.run.step.delta

            data: {"id":"step_001","object":"thread.run.step.delta","delta":{"step_details":{"type":"tool_calls","tool_calls":[{"index":0,"id":"call_XXNp8YGaFrjrSjgqxtC8JJ1B","type":"function","function":{"name":"get_current_weather","arguments":"","output":null}}]}}}


            event: thread.run.step.delta

            data: {"id":"step_001","object":"thread.run.step.delta","delta":{"step_details":{"type":"tool_calls","tool_calls":[{"index":0,"type":"function","function":{"arguments":"{\""}}]}}}


            event: thread.run.step.delta

            data: {"id":"step_001","object":"thread.run.step.delta","delta":{"step_details":{"type":"tool_calls","tool_calls":[{"index":0,"type":"function","function":{"arguments":"location"}}]}}}


            ...


            event: thread.run.step.delta

            data: {"id":"step_001","object":"thread.run.step.delta","delta":{"step_details":{"type":"tool_calls","tool_calls":[{"index":0,"type":"function","function":{"arguments":"ahrenheit"}}]}}}


            event: thread.run.step.delta

            data: {"id":"step_001","object":"thread.run.step.delta","delta":{"step_details":{"type":"tool_calls","tool_calls":[{"index":0,"type":"function","function":{"arguments":"\"}"}}]}}}


            event: thread.run.requires_action

            data: {"id":"run_123","object":"thread.run","created_at":1710351818,"assistant_id":"asst_123","thread_id":"thread_123","status":"requires_action","started_at":1710351818,"expires_at":1710352418,"cancelled_at":null,"failed_at":null,"completed_at":null,"required_action":{"type":"submit_tool_outputs","submit_tool_outputs":{"tool_calls":[{"id":"call_XXNp8YGaFrjrSjgqxtC8JJ1B","type":"function","function":{"name":"get_current_weather","arguments":"{\"location\":\"San
            Francisco, CA\",\"unit\":\"fahrenheit\"}"}}]}},"last_error":null,"model":"gpt-4o","instructions":null,"tools":[{"type":"function","function":{"name":"get_current_weather","description":"Get
            the current weather in a given location","parameters":{"type":"object","properties":{"location":{"type":"string","description":"The
            city and state, e.g. San Francisco, CA"},"unit":{"type":"string","enum":["celsius","fahrenheit"]}},"required":["location"]}}}],"metadata":{},"temperature":1.0,"top_p":1.0,"max_completion_tokens":null,"max_prompt_tokens":null,"truncation_strategy":{"type":"auto","last_messages":null},"incomplete_details":null,"usage":{"prompt_tokens":345,"completion_tokens":11,"total_tokens":356},"response_format":"auto","tool_choice":"auto","parallel_tool_calls":true}}


            event: done

            data: [DONE]

            '
  /threads/{thread_id}/runs:
    get:
      operationId: listRuns
      tags:
      - Assistants
      summary: Returns a list of runs belonging to a thread.
      parameters:
      - name: thread_id
        in: path
        required: true
        schema:
          type: string
        description: The ID of the thread the run belongs to.
      - name: limit
        in: query
        description: 'A limit on the number of objects to be returned. Limit can range
          between 1 and 100, and the default is 20.

          '
        required: false
        schema:
          type: integer
          default: 20
      - name: order
        in: query
        description: 'Sort order by the `created_at` timestamp of the objects. `asc`
          for ascending order and `desc` for descending order.

          '
        schema:
          type: string
          default: desc
          enum:
          - asc
          - desc
      - name: after
        in: query
        description: 'A cursor for use in pagination. `after` is an object ID that
          defines your place in the list. For instance, if you make a list request
          and receive 100 objects, ending with obj_foo, your subsequent call can include
          after=obj_foo in order to fetch the next page of the list.

          '
        schema:
          type: string
      - name: before
        in: query
        description: 'A cursor for use in pagination. `before` is an object ID that
          defines your place in the list. For instance, if you make a list request
          and receive 100 objects, starting with obj_foo, your subsequent call can
          include before=obj_foo in order to fetch the previous page of the list.

          '
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListRunsResponse'
      x-oaiMeta:
        name: List runs
        group: threads
        beta: true
        returns: A list of [run](/docs/api-reference/runs/object) objects.
        examples:
          request:
            curl: "curl https://api.openai.com/v1/threads/thread_abc123/runs \\\n\
              \  -H \"Authorization: Bearer $OPENAI_API_KEY\" \\\n  -H \"Content-Type:\
              \ application/json\" \\\n  -H \"OpenAI-Beta: assistants=v2\"\n"
            python: "from openai import OpenAI\nclient = OpenAI()\n\nruns = client.beta.threads.runs.list(\n\
              \  \"thread_abc123\"\n)\n\nprint(runs)\n"
            node.js: "import OpenAI from \"openai\";\n\nconst openai = new OpenAI();\n\
              \nasync function main() {\n  const runs = await openai.beta.threads.runs.list(\n\
              \    \"thread_abc123\"\n  );\n\n  console.log(runs);\n}\n\nmain();\n"
          response: "{\n  \"object\": \"list\",\n  \"data\": [\n    {\n      \"id\"\
            : \"run_abc123\",\n      \"object\": \"thread.run\",\n      \"created_at\"\
            : 1699075072,\n      \"assistant_id\": \"asst_abc123\",\n      \"thread_id\"\
            : \"thread_abc123\",\n      \"status\": \"completed\",\n      \"started_at\"\
            : 1699075072,\n      \"expires_at\": null,\n      \"cancelled_at\": null,\n\
            \      \"failed_at\": null,\n      \"completed_at\": 1699075073,\n   \
            \   \"last_error\": null,\n      \"model\": \"gpt-4o\",\n      \"instructions\"\
            : null,\n      \"incomplete_details\": null,\n      \"tools\": [\n   \
            \     {\n          \"type\": \"code_interpreter\"\n        }\n      ],\n\
            \      \"tool_resources\": {\n        \"code_interpreter\": {\n      \
            \    \"file_ids\": [\n            \"file-abc123\",\n            \"file-abc456\"\
            \n          ]\n        }\n      },\n      \"metadata\": {},\n      \"\
            usage\": {\n        \"prompt_tokens\": 123,\n        \"completion_tokens\"\
            : 456,\n        \"total_tokens\": 579\n      },\n      \"temperature\"\
            : 1.0,\n      \"top_p\": 1.0,\n      \"max_prompt_tokens\": 1000,\n  \
            \    \"max_completion_tokens\": 1000,\n      \"truncation_strategy\":\
            \ {\n        \"type\": \"auto\",\n        \"last_messages\": null\n  \
            \    },\n      \"response_format\": \"auto\",\n      \"tool_choice\":\
            \ \"auto\",\n      \"parallel_tool_calls\": true\n    },\n    {\n    \
            \  \"id\": \"run_abc456\",\n      \"object\": \"thread.run\",\n      \"\
            created_at\": 1699063290,\n      \"assistant_id\": \"asst_abc123\",\n\
            \      \"thread_id\": \"thread_abc123\",\n      \"status\": \"completed\"\
            ,\n      \"started_at\": 1699063290,\n      \"expires_at\": null,\n  \
            \    \"cancelled_at\": null,\n      \"failed_at\": null,\n      \"completed_at\"\
            : 1699063291,\n      \"last_error\": null,\n      \"model\": \"gpt-4o\"\
            ,\n      \"instructions\": null,\n      \"incomplete_details\": null,\n\
            \      \"tools\": [\n        {\n          \"type\": \"code_interpreter\"\
            \n        }\n      ],\n      \"tool_resources\": {\n        \"code_interpreter\"\
            : {\n          \"file_ids\": [\n            \"file-abc123\",\n       \
            \     \"file-abc456\"\n          ]\n        }\n      },\n      \"metadata\"\
            : {},\n      \"usage\": {\n        \"prompt_tokens\": 123,\n        \"\
            completion_tokens\": 456,\n        \"total_tokens\": 579\n      },\n \
            \     \"temperature\": 1.0,\n      \"top_p\": 1.0,\n      \"max_prompt_tokens\"\
            : 1000,\n      \"max_completion_tokens\": 1000,\n      \"truncation_strategy\"\
            : {\n        \"type\": \"auto\",\n        \"last_messages\": null\n  \
            \    },\n      \"response_format\": \"auto\",\n      \"tool_choice\":\
            \ \"auto\",\n      \"parallel_tool_calls\": true\n    }\n  ],\n  \"first_id\"\
            : \"run_abc123\",\n  \"last_id\": \"run_abc456\",\n  \"has_more\": false\n\
            }\n"
    post:
      operationId: createRun
      tags:
      - Assistants
      summary: Create a run.
      parameters:
      - in: path
        name: thread_id
        required: true
        schema:
          type: string
        description: The ID of the thread to run.
      - name: include[]
        in: query
        description: 'A list of additional fields to include in the response. Currently
          the only supported value is `step_details.tool_calls[*].file_search.results[*].content`
          to fetch the file search result content.


          See the [file search tool documentation](/docs/assistants/tools/file-search#customizing-file-search-settings)
          for more information.

          '
        schema:
          type: array
          items:
            type: string
            enum:
            - step_details.tool_calls[*].file_search.results[*].content
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRunRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunObject'
      x-oaiMeta:
        name: Create run
        group: threads
        beta: true
        returns: A [run](/docs/api-reference/runs/object) object.
        examples:
        - title: Default
          request:
            curl: "curl https://api.openai.com/v1/threads/thread_abc123/runs \\\n\
              \  -H \"Authorization: Bearer $OPENAI_API_KEY\" \\\n  -H \"Content-Type:\
              \ application/json\" \\\n  -H \"OpenAI-Beta: assistants=v2\" \\\n  -d\
              \ '{\n    \"assistant_id\": \"asst_abc123\"\n  }'\n"
            python: "from openai import OpenAI\nclient = OpenAI()\n\nrun = client.beta.threads.runs.create(\n\
              \  thread_id=\"thread_abc123\",\n  assistant_id=\"asst_abc123\"\n)\n\
              \nprint(run)\n"
            node.js: "import OpenAI from \"openai\";\n\nconst openai = new OpenAI();\n\
              \nasync function main() {\n  const run = await openai.beta.threads.runs.create(\n\
[...]
